/* GLOBAL PROPERTIES - START */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #fff;
    
}
/* GLOBAL PROPERTIES - END */

/*Login Page - START*/
.main-login {
    background-image: url(./img/fontysloginbg.jpeg);
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
}
.login-wrapper {
    background-color: #fff;
    min-height:100vh;
    width: 27%;
    display: flex;
    flex-direction: column;
    float: right;
}
.login-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
    margin-top: 10%;
}
.fontys-logo {
    margin-left: 10%;
    margin-top: 20%;
}

.sign-text {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
}

.submit-button {
    width: 75%;
    margin: auto;
}

.submit-button input {
    padding: 8px 18px;
    background: #663366;
    text-decoration: none;
    border: none;
    color: white;
}

.submit-button input:hover {
    opacity: 50%;
    cursor: pointer;
}

.emailenter {
    width: 200%;
    padding: 8px;
    color: black;
    background: rgb(212, 227, 251);
    border: 1px solid #6b6b6b;
    margin-bottom: 5px;
}

.passwordenter {
    width: 200%;
    padding: 8px;
    color: black;
    background: rgb(212, 227, 251);
    border: 1px solid #6b6b6b;
}

.password-email {
    display: flex;
    flex-direction: column;
    margin-left: -30%;
}
.keepme {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    padding-top: 10px;
    font-size: 15px;
}
/* LOGIN - END */


/* NAVBAR - STARAT */
.navbar-container {
    width: 100%;
    background-color: purple;
    min-height: 90px;
    z-index: 1;
}

.navbar-wrapper {
    padding: 10px;
    width: 90%;
    min-height: inherit;
    background-color: purple;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    width: 90%;
    margin: auto;
    display: flex;
}

.nav-list .nav-links ul, li, a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 50px;
    height: 50px;
}



.menu-btn {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.menu-btn_burger {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    transform: translateY(3px);
    box-shadow: 3px 1px 16px 1px #000000;
}

.menu-btn_burger_2 {
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    transform: translateX(5.9px);
    box-shadow: 3px 1px 16px 1px #000000;
}

.menu-btn_burger_3 {
    width: 10px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    transform: translate(10.5px, -3px);
    box-shadow: 3px 1px 16px 1px #000000;

}


/* ANIMATIONS FOR THE BURGER MENU - START */
.menu-btn_burger-active {
    transform: rotate(45deg) translate(8px, 10.3px);
    width: 20px;
}

.menu-btn_burger_3-active {
    transform: rotate(-45deg) translate(8px, -11.5px);
    width: 20px;
    box-shadow: none;
}

.menu-btn_burger_2-active {
    transform: translateX(-30px);
    background: transparent;
    box-shadow: none;
}
/* ANIMATIONS FOR THE BURGER MENU - END */

/* NAVBAR - END */

/* FOOTER - START */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: 90px;
    background-color: purple;
    text-align: center;
}

footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: auto;
    color: #fff;
    font-size: 2rem;
}
/* FOOTER - END */


/* BUILDINGS LIST SECTION - START */
.building-selection-container {
    width: 100%;
    min-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.building-selection-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: inherit;
}

.building-list {
    width: 25%;
}

.building-list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.building-list ul, li {
    color: black;
    transition: all 1s ease;
}

.building-list-1 {
    background-color: #ACADBC;
    padding: 5px 10px 5px 10px;
    border: 1px #ACADBC solid;
    border-radius: 10px;
    color: #663366;
    cursor: pointer;
}

.building-list-1:hover {
    opacity: 50%;
}

.building-list-1-nactive {
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: #663366;
    cursor: pointer;
}

.building-list-2 {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.building-list-2-active {
    background-color: #ACADBC;
    padding: 5px 15px 5px 15px;
    border: 1px #ACADBC solid;
    border-radius: 10px;
    color: purple;
    cursor: pointer;
}

.building-list-2:hover {
    opacity: 50%;
    background-color: #ACADBC;
    border-radius: 10px;
}


.building-list-3 {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.building-list-3-active {
    background-color: #ACADBC;
    padding: 5px 15px 5px 15px;
    border: 1px #ACADBC solid;
    border-radius: 10px;
    color: #663366;
    cursor: pointer;
}

.building-list-3:hover {
    opacity: 50%;
    background-color: #ACADBC;
    border-radius: 10px;
}

.building-list-4 {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.building-list-4-active {
    background-color: #ACADBC;
    padding: 5px 15px 5px 15px;
    border: 1px #ACADBC solid;
    border-radius: 10px;
    color: #663366;
    cursor: pointer;
}

.building-list-4:hover {
    opacity: 50%;
    background-color: #ACADBC;
    border-radius: 10px;
}

.reservetionText {
    color: #663366;
    font-weight: bold;
    width: 18%;
}
/* BUILDINGS LIST SECTION - END */

/* BUILDINGS/METHOD IMAGES SECTION - START */
.building_method_images-container {
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
}

.building_method_images-wraper {
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.building-images {
    width: 60%;
    height: inherit;
}

.building-images img {
    height: inherit;
    border-radius: 15px;
    box-shadow: 5px 1px 16px 4px rgba(0,0,0,0.54);
}

.method-images {
    padding: 10px;
    width: 23.5%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.room-selector {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-selector span {
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    padding: 25px;
    font-weight: bold;
}

.room-selector img {
    border-radius: 15px;
    box-shadow: 5px 1px 16px 4px rgba(0,0,0,0.54);
    transition: all 1s ease;
}

.room-selector img:hover {
    background-color: purple;
    cursor: pointer;
}

.time-selector {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-selector span {
    color: purple;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.time-selector img {
    border-radius: 15px;
    box-shadow: 5px 1px 16px 4px rgba(0,0,0,0.54);
    transition: all 1s ease;
}

.time-selector img:hover {
    background-color: purple;
    cursor: pointer;
}

.icon-wrapper {
    display: none;
}


/* Overview Page */
.thankyou1-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
  }
  .thankyou1-container > div > p {
      font-size: 30px; 
      margin-left: -10%;
  }
  .vl {
    border-left: 3px solid rgb(0, 0, 0);
    height: 750px;
    margin-left: -20%;
  }
.page-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.backhomebutton {
    background-color:rgb(128, 0, 128);
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  border-radius: 20px ;
}
.overview-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
 /* Time Selector Page */
 .datetime-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 4%;
    
  }
 .floorplanners-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
/* Calendar Page */


.date-picker {
	position: relative;
	width: 200%;
	height: 30px;
	background-color: #FFF;
    margin-left: 0%;
	box-shadow: 5px 6px 15px -1px rgba(0, 0, 0, 0.44);
    z-index: 1;
	cursor: pointer;
	user-select: none;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #313131;
	font-size: 18px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
    box-shadow: 5px 6px 15px -1px rgba(0, 0, 0, 0.44);

}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: #00CA85;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day.selected {
	background-color: rgb(128, 0, 128);
    color: rgb(255, 255, 255);
}
.pickdate {
    font-size: 20px;
      color: rgb(128, 0, 128);
      margin-left: 85%;
      width: 100%;
      margin-top: 20%;
      margin-bottom: 2%;
}



/*Choose Subjects*/
:root {
    --select-border: rgb(128, 0, 128);
    --select-focus: rgb(128,0,128);
    /* --select-arrow: var(--select-border); */
    font-family: Arial, Helvetica, sans-serif;
  }
  .timeselector {
      margin-left: 50%;
      width: 100%;
  }
  .timeselector >label {
      font-size: 20px;
      color: rgb(128, 0, 128);
      margin-left: 14%;
  }
  #standard-select {
      margin-top: 2%;
  width: 80%;
  background: rgb(255, 255, 255);
  color: #000;
  border: 3px solid white;
  border-radius: 4px;
  box-shadow: 5px 6px 15px -1px rgb(0, 0, 0,0.44);
  outline-color: rgb(128, 0, 128);
}
  
  .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-left: -4.5%;
  }
  .floorplans-container {
      border: 1px solid black;
      display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    border: none;
  }
  .floorplans-container > img {
      width: 60%;
      margin-left: 20%;
      margin-top: 5%;
      
  }.floorplans-container > img {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    
}
.floorplans-container > p {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

  .vl2 {
    border-left: 3px solid rgb(0, 0, 0);
    height: 1400px;
    position: relative;
    margin-left: 20%;
  }
  .lastpic {
      padding-bottom: 100px;
  }
  .makereservationbutton {
  background-color:rgb(128, 0, 128);
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 78%;
  border-radius: 20px ;
  margin-left: 50%;
  box-shadow: 5px 6px 15px -1px rgb(0, 0, 0,0.44);
}

.timeselector {
    margin-left: 5%;
}
.timeselector >label {
  font-size: 20px;
  color: rgb(128, 0, 128);
}
.select {
  display: flex;
  align-items: center;
  position: relative;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  margin-left: -4.5%;
}

.cards {
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  max-width: 100%;
  display: grid;
  grid-gap: 1rem;
  margin-top: 5rem;
}

.card1 {
  width: 80%;
  margin: auto;
  justify-content: center;
}
.card2 {
  justify-self: center;
}
@media screen and (min-width: 1500px) {
.cards { grid-template-columns: repeat(2, 1fr); }
}

.makereservationbutton {
  background-color:rgb(128, 0, 128);
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 78%;
  border-radius: 20px ;
  margin-left: 4%;
}

@media screen and (max-width: 1536px) {
    .building-images img {
        width: 100%;
        height: inherit;
        border-radius: 15px;
        box-shadow: 5px 1px 16px 4px rgba(0,0,0,0.54);
    }

    .reservetionText span {
        width: 100%;
        margin-right: 25px;
    }
}


@media screen and (max-width: 1024px) {

    body {
        overflow-y: hidden;
    }

    .nav-links {
        width: 100%;
        z-index: 1;
    }

    .building-images {
        margin: auto 10px;
    }

    .building-selection-wrapper {
        width: 90%;
    }

    .building-list {
        width: 50%;
    }

    .reservetionText {
        width: 30%;
        padding-left: 30px;
    }

    .method-images {
        width: 29%;
    }

    .room-selector:focus {
        background-color: #663366;
    }

}

@media screen and (max-width: 776px) {
    
    .nav-links{
        position: absolute;
        width: 100%;
        right: 0px;
        height: 100vh;
        top: 8vh;
        background-color: purple;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform .6s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }

    .nav-links li:hover {
        color: #ACADBC;
    }
    
    .menu-btn {
        display: flex;
    }

    .building_method_images-container {
        width: 100%;
    }

    .building_method_images-wraper {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .method-images {
        width: 80%;
        margin: auto;
        min-height: 310px;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content: space-between;
    }

    
    .building-list {
        margin: auto;
        width: 100%;
    }

    .building-list ul {
        margin: auto;
        width: 100%;
    }

    .building-list ul li {
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .building-list-1 {
        background-color: white;
        border-radius: 0px;
        border: none;
        border-bottom: 1px purple solid;
    }
    .building-list-2 {
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .building-list-2:hover {
        background: white;
        opacity: 50%;
    }

    .building-list-3:hover {
        background: white;
        opacity: 50%;
    }

    .building-list-4:hover {
        background: white;
        opacity: 50%;
    }

    .building-list-3 {
        background-color: white;
        border-radius: 0px;
        border: none;
    }
    .building-list-4 {
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .building-list-1-ractive {
        border: none;
    }

    .building-list-2-responsive {
        border-bottom: 1px purple solid;
    }

    .building-list-3-responsive {
        border-bottom: 1px purple solid;
    }

    .building-list-4-responsive {
        border-bottom: 1px purple solid;
    }
    
    .building-list-1-rractive {
        border-bottom: 1px purple solid;
    }

    .reservetionText {
        padding-right: 50px;
        position: absolute;
        z-index: -1;
        bottom: 280px;
        width: 100%;
        text-align: center;
    }

    .building-images {
        width: 100%;
    }

    .room-selector {
        width: 100%;
    }

    .time-selector {
        width: 100%;
    }

    .room-selector img {
        width: 95%;
    }

    .time-selector img {
        width: 95%;
    }

    .icon-wrapper {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        padding-bottom: 50px;
    }

    .reservetionText {
        position: absolute;
        bottom: 315px;
    }

    .icon-wrapper {
        width: 100%;
        margin: auto;
        padding-bottom: 100px;
    }

    .icon-next {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #fff;
        border: 1px #fff solid;
        border-radius: 50%;
        box-shadow: 4px 1px 20px 4px rgba(0,0,0,0.54);
        transition: all 1s ease;
    }

    .icon-next i {
        margin-top: 30px;
    }

    .icon-wrapper .icon-next:hover {
        background-color: purple;
        border: 1px purple solid;
        color: #fff;
        cursor: pointer;
    }
    .floorplanners-container {
        flex-direction: column;
    }
    .vl2 {
        display: hide;
        height: 0px;
    }
    [data-app='calendar-app'] {
        margin: 20px;
        width: 85%;
      }
      .calendar-nav {
        
        margin-left: 0%;
        
      }
      #prev-month {
          margin-left: 0%;
      }
      .timeselector {
        width: 80%;
        margin-left: 17%;
      }
      .timeselector > label {
          margin-left: 8%;
      }
      .makereservationbutton {
          margin-left: 10%;
      }
    
}

@media screen and (max-width: 714px) {
 .reservetionText {
     position: absolute;
     bottom: 350px;
 }   
}

@media screen and (max-width: 630px) {
 .reservetionText {
     position: absolute;
     bottom: 365px;
 }   
}

@media screen and (max-width: 600px) {
    .reservetionText {
        position: absolute;
        bottom: 400px;
    }   
   }

@media screen and (max-width: 510px) {

    .reservetionText {
        padding-right: 80px;
        position: absolute;
        z-index: -1;
        left: 35px;
        bottom: 440px;
        width: 100%;
        text-align: center;
    }
    .icon-wrapper {
        width: 100%;
        height: 100px;
        margin: auto;
    }

    .icon-next {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #fff;
        border: 1px #fff solid;
        border-radius: 50%;
        box-shadow: 4px 1px 20px 4px rgba(0,0,0,0.54);
        transition: all 1s ease;
    }

    .icon-next i {
        margin-top: 30px;
    }

    /* LOGIN - START */

    .login-wrapper {
        width: 100%;
    }

    /* LOGIN - END */

}

.done{
    border-right: 2px solid black;
    height: 500px;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
}
.done img{
    width: 50%;
    height: auto;
    margin-left: 10%;
}
.done div h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}
.details img{
    width: 40%;
    height: auto;
}
.details{
    padding: 1%;
    margin-right: 25%;
    margin-top: 10%;
}
.details div h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 65%;
    margin-top: -10%;
    width: 100%;
}
#specific img{
    width: 50%;
    height: auto;
}
#specific div h4{
    text-align: center;
    padding: 1%;
    margin-left: 5%;
    margin-top: 20%;
}
#reservation{
    margin-top: -5%;
    padding-bottom: 7%;
}
#reservation, .details{
    display: flex;
}
#specific div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-bottom: 10%;
    margin-top: 10%;
    margin-left: 70%;
    width: 100%;
}
.details #location{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 10%;
}
#location img{
    width: 75%;
    margin-left: 10%;
}
#homebtn{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 1%;
    padding-right: 15%;
    padding-left: 15%;
    border-radius: 20px;
    margin-left: 10%;
    transition: 0.3s all ease;
}
#homebtn:hover{
    color: purple;
    background-color: white;
    border: 1px solid purple;
}
.BTN-home{
    margin-top: 10%;
}
#homebtn2{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: purple;
    background-color: white;
    border: 1px solid purple;
    padding: 1%;
    padding-right: 15%;
    padding-left: 15%;
    border-radius: 20px;
    margin-left: 10%;
    transition: 0.3s all ease;
}
#homebtn2:hover{
    color: white;
    background-color: purple;
}
.BTN2-home{
    display: none;
    margin-top: 10%;
}


@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(25px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.nav-active {
    transform: translateX(0%);
}


/* BUILDINGS/METHOD IMAGES SECTION - END */