* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-container {
    width: 100%;
    background-color: purple;
    min-height: 90px;
}

.navbar-wrapper {
    padding: 10px;
    width: 90%;
    min-height: inherit;
    background-color: purple;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: 90%;
    margin: auto;
}

.links a {
    padding-left: 30px;
}

.logo {
    width: 50px;
    height: 50px;
}

body {
    background-color: black;
}

.menu-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.menu-btn_burger {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    transform: translateY(3px);
    box-shadow: 3px 1px 16px 1px #000000;
}

.menu-btn_burger_2 {
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    transform: translateX(5.9px);
    box-shadow: 3px 1px 16px 1px #000000;
}

.menu-btn_burger_3 {
    width: 10px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
    transform: translate(10.5px, -3px);
    box-shadow: 3px 1px 16px 1px #000000;

}




/* .menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::after {
    transform: translateY(16px);
    width: 50px;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
    width: 50px;
}

/* ANIMATION */
.menu-btn.open .menu-btn_burger_2 {
    transform: translateX(-30px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger {
    transform: rotate(45deg) translate(8px, 10.3px);
    width: 20px;
}

.menu-btn.open .menu-btn_burger_3 {
    transform: rotate(-45deg) translate(8px, -11.5px);
    width: 20px;
    box-shadow: none;
}  